.DS_Store
/.build
/Packages
/*.xcodeproj
xcuserdata/
DerivedData/
*.xcbkptlist

Podfile.lock
BytixDemo.xcworkspace/contents.xcworkspacedata
BytixDemo.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
